body {

   background: url(./background.png);
   background-size: 100vw;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   padding: 0;
   margin: 0;


}
nav {

   background-color: black;

   width: 100vw;
   height: 4vw;

}
.icons {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   font-size: 0vw;
   position: absolute;
   z-index: 999;
   width: 100vw;
}
#git {
   margin-top: 0.5vw;
   width: 3vw;
}

#email {
   margin-top: 0.5vw;
   width: 3vw;
}
#instagram {
   margin-top: 0.5vw;
   width: 3vw;
}

#symbol {
   margin-top: 0.5vw;
   width: 3vw;


}
a {
   text-decoration: none;
   color: unset;

}
.nuullity {
   color: rgb(162, 255, 250);
   position: relative;
   z-index: 5;
   display: flex;
   justify-content: center;
   top: 27vh;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   font-size: 3vw;

}
#enter {

   color: black;
   font-size: 1vw;
   height: 2vw;
   width: 10vw;
   top: 60vh;
   margin-left: 45vw;
   position: absolute;
   cursor: pointer;
   z-index: 2;

}

.text {
   color: aquamarine;
   text-align: center;
   position: relative;
   z-index: 3;

   display: flex;
   justify-content: center;
   margin-top: 35vh;

   font-size: 2vw;


}
#disc {
   position: relative;
   width: 2vw;
   bottom: -0.8vh;
}

#ending {

   position: relative;
   z-index: 888;
   font-size: 1.5vw;
   bottom: 0;


}