
html {
      --alt: 7vh; 
    --alt-txt: 50vh;
    --wid-icon:5vh;
height: 100vh;
;

}


a{
text-decoration: none;
color: unset;
}




body {
    margin: 0;


    background: url(./wallpaper.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: var(--alt);
    width: 100vw;
 
    overflow-x: hidden;
   
}



.superior {
    height: var(--alt);
    color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.icon{

    width: var(--wid-icon);
}


nav {

    background-color: black;
    width: 100vw;
    height: var(--alt);
}


.nuullity {
    display: flex;
    justify-content: center;
    text-align: center;
}


#symbol{
width: 16vw;
margin-top:calc(var(--alt-txt ) - 35vh);


}


#nuullity {

    margin-top: var(--alt-txt);
    position: absolute;
    color:rgb(28, 158, 201);
  
    font-size: 8vw;

}

#text {
margin-top: calc(var(--alt-txt) + 23vh);
font-family: monospace;  
  position: absolute;
    z-index: 1;
    font-size: 2.5vw;
    text-align: center;
    
    color:rgb(28, 158, 201);



}

.text_music{
display: flex;
justify-content: center;



}

#text_music{
position: absolute;
top: calc(var(--alt-txt) + 60vh);
    color:rgb(28, 158, 201);

}


.musics{
  
position: relative;
padding: 0;

    margin-top: 70vh;
    margin-left: 20vw;
    margin-right: 20vw;
 width: 60vw;
 
    
}
#musics{
    
 
}



#text_playlist{
    position: absolute;
    
        color:rgb(28, 158, 201);
    
    }





.playlist{
display: flex;
justify-content: center;
position: relative;
z-index: 55;
top: 10vh;
    
}

#playlist{
position: absolute;
top: 15vh;


}





#ending{
height: 100vh;
position: relative;
z-index: 2;
display: flex;
justify-content: center;
align-items:flex-end;
color:rgb(28, 158, 201);
font-size: 2vw;
bottom: 0;


}

#disc {
    position: absolute;
    
z-index: 999;
left: 38vw;
    width: 2vw;
}




